#GalleryContainer, #GalleryContainer * {
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}
#ImageLoader {
    display: none;
}
#GalleryContainer .GalleryImageContainer {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;    
}
#GalleryContainer {
    margin-right: 315px;
    display: none;
}
#GalleryContainer #ImgColumnTable {
    width: 100%;
}
#GalleryContainer #ImgColumnTable td {
    vertical-align: top;
    width: 33%;
}
#GalleryContainer .imgColumn {
    padding-left: 3px;
    padding-right: 3px;
}

#GalleryContainer .GalleryImageContainer {
    position: relative;
    min-height: 100px;
    border: solid #9CF 1px;
    margin-bottom: 6px;
}
#GalleryContainer .GalleryAlbumContainer {
    border: solid #000 3px;
    padding-bottom: 102px;
}

#GalleryContainer .GalleryImageContainer .midcol {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0.3;
    background-color: #000;
    padding: 2px 2px 4px 2px;
    margin: 0px;
    transition: opacity .5s ease-in-out;
}
#GalleryContainer .GalleryImageContainer:hover .midcol {
    opacity: 1;
}
#GalleryContainer .GalleryImageContainer .midcol .score {
    color: #FFF;
    margin-top: -1px;
    padding-top: 2px;
    text-align: center;
}

#GalleryContainer a > img {
    max-width: 100%;
    min-width: 100%;
}
#GalleryContainer .GalleryImageContainer > .ImageInfo {
    position: absolute;
    bottom: 0px;
    height: 55px;
    opacity: 0.2;
    background-color: #000;
    width: 100%;
    color: #FFF;
    transition: opacity .5s ease-in-out;
}
#GalleryContainer .GalleryImageContainer a.albumImage img {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 5px;
    border-style: none;    
}
#GalleryContainer .GalleryAlbumContainer > .ImageInfo {
    opacity: 1!important;
    bottom: 0px;
    height: 110px;
}
#GalleryContainer .GalleryAlbumContainer > .ImageInfo > .AlbumThumbs {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    white-space: pre;
    overflow: hidden;
}
#GalleryContainer .GalleryAlbumContainer > .ImageInfo > .AlbumThumbs > .albumThumb {
    display: inline-block;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 45px 45px;
}
#GalleryContainer .GalleryAlbumContainer > .ImageInfo > .AlbumThumbs > .albumThumb + .albumThumb {
    margin-left: 5px;
}
#GalleryContainer .GalleryAlbumContainer > .ImageInfo > .AlbumThumbs > .albumThumb.active {
    border: solid #F90 3px;
}

#GalleryContainer .GalleryImageContainer > .ImageInfo > span.albumTag {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    color: #FFF;
}
#GalleryContainer .GalleryImageContainer > .ImageInfo > h4 {
    font-size: 175%;
    text-align: center;
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    padding-left: 15px;
    padding-right: 15px;
}
#GalleryContainer .GalleryImageContainer > .ImageInfo > a {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
}
#GalleryContainer .GalleryImageContainer > .ImageInfo a {
    color: #FFF;
}
#GalleryContainer .GalleryImageContainer > .ImageInfo a:hover {
    color: #F90;
}
#GalleryContainer .GalleryImageContainer:hover > .ImageInfo {
    opacity: 0.85;
}
#GalleryContainer .GalleryImageContainer > span.albumControl {
    padding: 0px 5px;
    position: absolute;
    top: 22px;
    bottom: 110px;
    color: #FFF;
    line-height: 100%;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity .5s ease-in-out;
}
#GalleryContainer .GalleryImageContainer > span.albumControl > div {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    line-height: 30px;
    margin-top: -15px;
}
#GalleryContainer .GalleryImageContainer > span.albumPrevious > div {
    left: 0px;
}
#GalleryContainer .GalleryImageContainer > span.albumNext > div {
    right: 0px;
}
#GalleryContainer .GalleryImageContainer > span.albumPrevious {
    padding-right: 15px;
    left: 0px;
    background-image: linear-gradient(left , rgba(0,0,0,0) 100%, rgba(0,0,0,1) 30%);
    background-image: -o-linear-gradient(left , rgba(0,0,0,0) 100%, rgba(0,0,0,1) 30%);
    background-image: -moz-linear-gradient(left , rgba(0,0,0,0) 100%, rgba(0,0,0,1) 30%);
    background-image: -webkit-linear-gradient(left , rgba(0,0,0,0) 100%, rgba(0,0,0,1) 30%);
    background-image: -ms-linear-gradient(left , rgba(0,0,0,0) 100%, rgba(0,0,0,1) 30%);
    background-image: -webkit-gradient( linear, left top, right top, color-stop(1, rgba(0,0,0,0)), color-stop(0.3, rgba(0,0,0,1)));
}
#GalleryContainer .GalleryImageContainer > span.albumNext {
    padding-left: 15px;
    right: -1px;
    background-image: linear-gradient(left , rgba(0,0,0,1) 70%, rgba(0,0,0,0) 0%);
    background-image: -o-linear-gradient(left , rgba(0,0,0,1) 70%, rgba(0,0,0,0) 0%);
    background-image: -moz-linear-gradient(left , rgba(0,0,0,1) 70%, rgba(0,0,0,0) 0%);
    background-image: -webkit-linear-gradient(left , rgba(0,0,0,1) 70%, rgba(0,0,0,0) 0%);
    background-image: -ms-linear-gradient(left , rgba(0,0,0,1) 70%, rgba(0,0,0,0) 0%);
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0.7, rgba(0,0,0,1)), color-stop(0, rgba(0,0,0,0)));
}
#GalleryContainer .GalleryImageContainer:hover > span.albumControl {
    opacity: 0.5;
}
#GalleryContainer .GalleryImageContainer > span.albumControl:hover {
    color: #FC0;
    opacity: 1;
}

.rig_icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: auto auto -4px;
    margin-left: 1px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABZ0RVh0Q3JlYXRpb24gVGltZQAwOS8xNC8xM7lVfK8AAAH1SURBVCiRTZI9TBRBGIaf2SwgAndgIod3F09FN2QpMCYYjVYWWtkRY2VjqzHxp7c2JgYbS0PsbEzsNBpNLKS08M7jUIHzZHMcP3ew7O7tzuxY7AJO9X5v3pnv+b6M0NdBCKCyg/2q2jnSN/v66rETh5zl4N6N983t4Ym7s4zkAcAE4d56CniNZmIVctlSYcDwd5Py/IWpgeI48OnjvAl6cO4BcHgHZm4DShpRJJQ0kvRac6OXwb233+pEUalQsPBXlBQqMpQUib281KAdp+l3P9uJqtd3SmdiQEpDSiGlAVi57PfHM7Zt73Nz5VQW+BGk7dreZr+72/a6AIHDt/t0MgBoE3AlgKdSItMwe4xe00hrXZzWJ8cAsfTZBLpKA6FKB4hUGCojUmF6O2jg+wck3Rgg1ADZ/tLM9BvbtitHK9n+EoEj1lfFkHuQrjrbQL21exFkrdaanHSgBXJhwbQszj5jf8prp4fTBYZDAz2GhC/wC1bhEmwtei/PzeeEA6AxnzyfGxnOAM7fP3fyxQxcBgtqKTU3H01NjE0ALx7OG1tbHc/zPc/3g26sYtOyRsvlvNaj5bJpWUCwov1F7S9qNGZzbX2ttQG0N1tSKbcbf6i5Vbnd+O0eH4+BytfA7fNS7kjGWmsgjBR67xf8d2r1Wkd0E/0PbO3qbWG2370AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
}

.rig_icon.active {
    outline-offset: 1px;
    outline: solid #0C0 1px;
}

.ImageTitleBar {
    background-color: #000;
    padding: 2px 4px;
    color: #FFF;
    line-height: 16px;
}
.ImageTitleBar .arrow {
    display: inline-block;
    margin: 2px 2px -2px 2px;
}

.rig_source {
    float: right;
}